<div class="detailview">
  <div  *ngIf="selectedScooterFromOverview !== null; else elseBlock">
    <div class="card-header">Update Scooter {{copyScooter.tag }} (id={{copyScooter.id}})</div>
    <form>
      <div class="form-group">
        <label for="inputTag">Tag:</label>
        <input name="tag" type="text" class="form-control" id="inputTag" [(ngModel)]="copyScooter.tag" value="{{copyScooter.tag}}">
      </div>
      <div class="form-group">
        <label for="inputStatus">Status:</label>
        <select name="status" id="inputStatus" class="form-control" [(ngModel)]="copyScooter.status">
          <option *ngFor="let status of statuses()" [value]="status">{{status}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="inputGpsLocation">GPS Location:</label>
        <input name="gpsLocation" type="text" class="form-control" id="inputGpsLocation" [(ngModel)]="copyScooter.gpsLocation" value="{{copyScooter.gpsLocation}}">
      </div>
      <div class="form-group">
        <label for="inputMileage">Mileage:</label>
        <input name="mileage" type="text" class="form-control" id="inputMileage" [(ngModel)]="copyScooter.mileage" value="{{copyScooter.mileage}}">
      </div>
      <div class="form-group">
        <label for="inputBatteryCharge">Battery Charge:</label>
        <input name="batteryCharge" type="text" class="form-control" id="inputBatteryCharge" [(ngModel)]="copyScooter.batteryCharge" value="{{copyScooter.batteryCharge}}">
      </div>
    </form>
    <div class="buttons"></div>
      <button (click)="onCancel()" class="btn btn-primary" type="button" id="cancelButton">Cancel</button>
      <button (click)="onResetScooter()" [disabled]="!buttonDisabled()" class="btn btn-primary" type="button" id="resetButton">Reset</button>
      <button (click)="onClear()" class="btn btn-primary" type="button" id="clearButton">Clear</button>
      <button (click)="onSaveScooter()" [disabled]="!buttonDisabled()" class="btn btn-primary" type="button" id="saveButton">Save</button>
      <button (click)="onDeleteScooter()" [disabled]="buttonDisabled()" type="button" class="btn btn-danger" id="deleteButton">Delete</button>
    </div>

  <ng-template #elseBlock>
    <h6 id="title">Select a scooter from the left page</h6>
  </ng-template>
</div>
