.detailview {
  padding: 1%;
}
.form-title {
  background-color: beige;
}
.card-header {
  background-color: beige;
  margin: 7px 0 7px 0;
  border: lightgrey 1px solid;
}
#deleteButton {
  float: right;
}
